<%- include('partials/homeNavbar.ejs'); %>
    <section>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                   <center><h2><%= art.title  %> </h2></center>
                </div>
                <div class="card-body">
                   <%- art.body %> 
                </div>
            </div>
        </div>
    </section>
<%- include('partials/footer.ejs'); %>

